<nav class="navbar navbar-default navbar-inverse" id="header" role="navigation">
	<app-header></app-header>	
</nav>
<mat-sidenav-container>
	<mat-sidenav mode="side" opened="true">	   
		<prog-task-selector (onTaskSelected)="selectTask($event)">
		</prog-task-selector>
	</mat-sidenav>
	<div class="programming-area">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="col-xs-12">
					<prog-lang-selector (onLanguageSelected)="selectLanguage($event)"></prog-lang-selector>
				</div>
			</div>
			<div class="row-fluid">
				<div class="col-xs-12">
					<div id="code-box-container">
						<code-editor #codeEditor></code-editor>
						<input type="button" (click)="checkTask(codeEditor.userCode)" [disabled]="!selectedTask" value="Check"/>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="col-xs-12">
					{{taskRunResult.isError}}
				</div>
			</div>
		</div>
	</div>
</mat-sidenav-container>